body{
    background-color:;
}
nav{
    margin-left: 80px; 
    margin-top: 20px;
    margin-right: 80px;
    background-color: black;
    display: flex;
}
nav a{
    margin-left: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
}
img{
    margin-left: 650px;
    width: 200px;
    height: auto;
    margin-top: 25px;
}h1{
    margin-left: 650px;
    font-size: 15px;
    color: blueviolet;
}
.c1 a{
    text-align: center;
    margin-left: 15px;
    text-decoration: none;
    color: darkcyan;
}
.c1 input{
    width: 100px;
    margin-left: 70px;
}
h2{
    margin-left: 80px;
    font-size: 40px;
    color: black;
}
h4{
    margin-left: 80px;
    font-size: 15px;
    color: blueviolet;
}
.c2 img{
    margin-left: 80px;
    width: 80%;
    height: auto;
    margin-top: 25px;
}
h3{
    margin-left: 80px;
    font-size: 15px;
    color: blueviolet;
}
h5{
    margin-left: 80px;
    font-size: 40px;
    margin-right: 200;
    color: black;
}
p{
    margin-left: 80px;
    font-size: 30px;
    margin-right: 80;
    color: black;
}    